    <div id="footer">
    	<div class="container text-center"><div>© 2014</div>
    	<div><strong>Hackathon Developer</strong> Project·
    	<a href="https://github.com/alejorivera/chispudo">GitHub Project</a></div></div>
    </div>
